.loginpage_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 100vh;
}

.loginpage_image {
  display: block;
}

.login_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px;
  background-color: #ffffff13;
  box-shadow: 0 0 10px 5px rgba(255, 172, 241, 0.3);
  border-radius: 5px;
  padding: 30px;
}

.login_heading {
  margin: 15px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: bold;
  color: #db39c0;
  text-shadow: #42022c 2px 2px 2px;
}

.form_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input_label {
  font-family: "Roboto";
  font-size: 14px;
  color: dimgray;
  margin-bottom: 8px;
  font-weight: bold;
}

.login_input {
  margin-bottom: 24px;
  border: none;
  outline: none;
  background-color: #f1f5f7;
  color: #a80281;
  padding: 10px;
  border-radius: 2px;
  transition: box-shadow 0.1s ease-in-out;
}

.login_input:focus {
  box-shadow: 0 0 5px #f604fe4d;
}

.role_select {
  margin-bottom: 24px;
  border: none;
  outline: none;
  background-color: #f1f5f7;
  color: #a80281;
  padding: 10px;
  border-radius: 2px;
  transition: box-shadow 0.1s ease-in-out;
}

.login_button {
  border: none;
  background: linear-gradient(
    to bottom right,
    #3a081e,
    #c245af,
    #a80281,
    #fc00a0,
    #421538
  );
  box-shadow: 0 0 8px #ff7300;
  color: rgb(223, 230, 102);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  max-width: 100px;
  align-self: center;
}

.login_button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px #0000004d;
  opacity: 0.9;
}

.login_button:active {
  transform: scale(0.98);
}

.error_message {
  color: red;
  font-size: 14px;
  margin-bottom: 0px;
  text-align: center;
}

@media (max-width: 576px) {
  .loginpage_container {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .login_card {
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 8px 3px rgba(255, 172, 241, 0.25);
  }

  .login_heading {
    font-size: 20px;
    margin: 10px 0;
  }

  .login_input,
  .role_select {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 16px;
  }

  .login_button {
    max-width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}
